<div class="row mt-5">
  <div class="col-md-12 text-right">
    <button mat-raised-button color="primary" routerLink="add">
      Add Product
    </button>
  </div>

  <div class="col-md-6 user-list">
    <ul class="list-group">
      <li
        class="list-group-item user-item"
        [queryParams]="{ userRole: user.userRole }"
        [routerLink]="user.userId"
        *ngFor="let user of userArr"
      >
        {{ user.userName }}
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
