<div class="row mt-5">
  <div class="col-md-6">
    <mat-card>
      <mat-card-content class="text-center"> Click To User </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" routerLink="user">
          Click
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-content class="text-center"> Click To Product </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" routerLink="product">
          Click
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
